# Frontend specific git ignores

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

build/
.idea/

# Playwright
.auth.json
playwright-report
playwright/.auth
test-results
