# Frontend specific git ignores

# Webstorm user specific settings
.idea/workspace.xml

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

dist/
build/

# Playwright
.auth.json
playwright-report
playwright/.auth
test-results
