name: NPM Publish
on:
  workflow_call:
    secrets:
      npm-token:
        required: true
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - name: Use bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Build Components
        run: bun run build-components

      - uses: JS-DevTools/npm-publish@v4
        with:
          registry: "https://npm.pkg.github.com"
