name: NPM Publish
on:
  workflow_call:
    secrets:
      npm-token:
        required: true
permissions:
  id-token: write
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 21.x

      - name: Install dependencies
        run: npm ci

      - name: Run Tests
        run: npm run test:ci

      - name: Build Components
        run: npm run build-components:ci

      - uses: JS-DevTools/npm-publish@v3
        with:
          token: ${{ secrets.npm-token }}
          provenance: true
